*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
}

/* SIDE BAR */
.side-bar{
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 30px 100px;
    box-shadow: 2px 2px 15px rgba(194, 194, 194, 0.503);
}
.side-bar h1{
   display: flex;
   gap: 15px;
}
.side-bar h1, .main-sec h1{
    font-family: 'Squada One', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.img-desc{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img-desc h2{
    font-size: 17px;
}
.img-desc p{
    font-size: 11px;
    color: white;
    background-color: #d9d9d9;
    padding: 2px 9px;
    border-radius: 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}
.menu p{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0px 8px 12px;
    border-radius: 5px;
}
.menu p:nth-child(1){
    box-shadow: 1px 2px 20px rgba(194, 193, 193, 0.832);
}
.menu a{
    color: black;
    text-decoration: none;
}
.logout{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
}
.logout p{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0px 8px 12px;
}

/* NAVBAR */
.navbar{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    width: 100vw;
    box-shadow: 10px 2px 15px rgba(194, 194, 194, 0.491);
}
.search-bar{
    width: 500px;
    display: flex;
    box-shadow: 2px 2px 15px rgba(194, 194, 194, 0.456);
    justify-content: space-between;
    border-radius: 5px 5px 5px 5px;
}
.search-bar input{
    background-color: transparent;
    border: 0;
    padding: 15px 23px;

}
.search-bar input::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.521);
}
.search-bar button{
    font-size: 24px;
    padding: 8px 12px;
    border: 0;
    background-color: #d9d9d9;
    border-radius: 0 5px 5px 0;
}
.active-profile{
    display: flex;
    width: 30vw;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
.display-name p{
    display: flex;
    justify-content: space-between;
    color: #26C70C;
}

/* MAIN SECTION */
.main-sec{
    padding: 62px;
}
.assessibles{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 22px;
}
.appointments{
    background-color: #C053D2;  
}
.patients{
    background-color: #455EE3;
}
.staffs{
    background-color: #32be30;
}
.request{
    width: 172px;
    height: 139px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 700;
    gap: 10px;
}
.appointments, .patients, .staffs{
    width: 265px;
    height: 139px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.assessibles button{
    width: 67px;
    height: 70px;
    border-radius: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 10px;
}
progress{
    width: 140px;
}