*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    font-size: 14px;
}

/* SIDE BAR */
.side-bar{
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 30px 100px;
    box-shadow: 2px 2px 15px rgba(194, 194, 194, 0.503);
}
.side-bar h1{
   display: flex;
   gap: 15px;
}
.side-bar h1, .main-sec h1, .patient-sec h1{
    font-family: 'Squada One', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.img-desc{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img-desc h2{
    font-size: 17px;
}
.img-desc p{
    font-size: 11px;
    color: white;
    background-color: #d9d9d9;
    padding: 2px 9px;
    border-radius: 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}
.active{
    background-color: #26C70C;
}
.menu p{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0px 8px 12px;
    border-radius: 5px;
}
.menu a:active{
    box-shadow: 1px 2px 20px rgba(194, 193, 193, 0.832);
}
.menu a{
    color: black;
    text-decoration: none;
}
.logout{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
}
.logout p{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0px 8px 12px;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 180px;
    width: 85vw;
    box-shadow: 10px 2px 15px rgba(194, 194, 194, 0.491);
}
.search-bar{
    width: 500px;
    display: flex;
    box-shadow: 2px 2px 15px rgba(194, 194, 194, 0.456);
    justify-content: space-between;
    border-radius: 5px 5px 5px 5px;
}
.search-bar input{
    background-color: transparent;
    border: 0;
    padding: 15px 23px;

}
.search-bar input::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.521);
}
.search-bar button{
    font-size: 24px;
    padding: 8px 12px;
    border: 0;
    background-color: #d9d9d9;
    border-radius: 0 5px 5px 0;
}
.active-profile{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 30vw;
    justify-content: flex-end;
}
.display-name p{
    display: flex;
    justify-content: space-between;
    color: #26C70C;
}

/* MAIN SECTION */
.main-sec, .patient-sec{
    padding: 40px 62px 0;
}
.assessibles{
    margin-top: 15px;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 22px;
   
}
.appointments{
    background-color: rgba(191, 83, 210, 0.66);  
}
.patients{
    background-color: rgba(69, 93, 227, 0.66);
}
.staffs{
    background-color: rgba(50, 190, 48, 0.76);
}
.request{
    width: 172px;
    height: 139px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
}
.appointments, .patients, .staffs{
    width: 265px;
    height: 139px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appointments div, .patients div, .staffs div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.assessibles button{
    width: 67px;
    height: 70px;
    border-radius: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
progress {
    border-radius: 15px; 
    width: 140px;
    height: 8px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
    background-color: rgba(128, 128, 128, 0.198);
    border-radius: 15px;
}
progress::-webkit-progress-value {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.1);
}

.upcoming{
    display: flex;
    gap: 50px;
    margin-top: 15px;
}
.upcoming-urgencies{
    display: flex;
    background-color: rgba(241, 234, 19, 0.66);
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    border-radius: 10px;
}
.upcoming-urgencies p{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
}
.upcoming-urgencies img{
    width: 24px;
    height: 24px;
}
.critical, .stable, .terminal, .surgery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.upcoming-appointments{
    background-color: rgba(250, 148, 32, 0.70);
    width: 504px;
    padding: 26px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upcoming-appointments p{
    font-weight: 700;
}
.upcoming-appointments p:nth-child(1){
    font-weight: 400;
    text-decoration: underline;
}
.upcoming-appointments p:nth-child(3){
    display: flex;
    justify-content: space-between;
}

/* ACTIVITIES */
.activities{
    margin-top: 15px;
    display: flex;
    gap: 60px;
}
.doctors{
    width: 305px;
    padding: 24px 18px 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.194);
}
.doctors h2{
    color: #808080;
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.doctors hr, .next-activity hr{
    border: 0.1px solid rgba(128, 128, 128, 0.217);
}
.doctors a{
    display: flex;
    justify-content: flex-end;
    color: black;
    margin-top: 5px;
}
.cherry, .marcus, .murphy, .jerry, .mary{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
}
.cherry button, .marcus button, .murphy button, .jerry button, .mary button{
    padding: 5px;
    border-radius: 100%;
    border: 0;
}
.marcus button, .murphy button{
    background-color: red;
}
.jerry button, .mary button, .cherry button{
    background-color: greenyellow;
}
.cherry div p:nth-child(2), .marcus div p:nth-child(2), .murphy div p:nth-child(2), .jerry div p:nth-child(2), .mary div p:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
    color: #808080;
    font-weight: 700;
}
.cherry div, .marcus div, .murphy div, .jerry div, .mary div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cherry div p:nth-child(1), .marcus div p:nth-child(1), .murphy div p:nth-child(1), .jerry div p:nth-child(1), .mary div p:nth-child(1){
    font-weight: 700;
}

.next-activity{
    width: 690px;
    font-size: 20px;
    box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.194);
    border-radius: 10px;
    padding: 10px 0;
}
.next-activity h2{
    color: grey;
    font-size: 20px;
}
.next-activity p:nth-child(2), .next-activity span{
    color: grey;
    font-weight: 400;
}
.next-activity span{
    font-style: italic;
}
.next-activity p:nth-child(1){
    font-weight: 700;
}
.styled-div{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}
.styled-div button, .patient-container button{
    background-color: black;
    padding: 3px;
    border-radius: 100%;
    border: 0;
}
.activity-buttons, .patient-button{
    display: flex;
    align-items: center;
    gap: 2px;
}
.restyled-div{
    display: flex;
    gap: 10px;
}


/************************************ PATIENTS PAGE ***********************************/
.patient-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px 15px rgba(185, 185, 185, 0.307);
    margin-top: 35px;
}
.patient-button{
    flex-direction: column;
}
.patient-container button{
    padding: 2px;
}
.patient-sec{
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
}
.patient-container p:nth-child(1){
    color: #858585;
    font-size: 12px;
}
.patient-container p:nth-child(2){
    font-weight: 700;
    font-size: 15px;
}