*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    font-size: 14px;
}

/* SIDE BAR */
.side-bar{
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px 30px 100px;
    box-shadow: 2px 2px 15px rgba(194, 194, 194, 0.503);
}
.side-bar h1{
   display: flex;
   gap: 15px;
}
.side-bar h1, .main-sec h1, .patient-sec h1{
    font-family: 'Squada One', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.img-desc{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.img-desc h2{
    font-size: 17px;
}
.img-desc p{
    font-size: 11px;
    color: white;
    background-color: #d9d9d9;
    padding: 2px 9px;
    border-radius: 5px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}
.active{
    background-color: #26C70C;
}
.menu p{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0px 8px 12px;
    border-radius: 5px;
}
.menu a:active{
    box-shadow: 1px 2px 20px rgba(194, 193, 193, 0.832);
}
.menu a{
    color: black;
    text-decoration: none;
}
.logout{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
}
.logout p{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0px 8px 12px;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 180px;
    width: 85vw;
    box-shadow: 10px 2px 15px rgba(194, 194, 194, 0.491);
}
.search-bar{
    width: 500px;
    display: flex;
    box-shadow: 2px 2px 15px rgba(194, 194, 194, 0.456);
    justify-content: space-between;
    border-radius: 5px 5px 5px 5px;
}
.search-bar input{
    background-color: transparent;
    border: 0;
    padding: 15px 23px;

}
.search-bar input::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.521);
}
.search-bar button{
    font-size: 24px;
    padding: 8px 12px;
    border: 0;
    background-color: #d9d9d9;
    border-radius: 0 5px 5px 0;
}
.active-profile{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 30vw;
    justify-content: flex-end;
}
.display-name p{
    display: flex;
    justify-content: space-between;
    color: #26C70C;
}

/* MAIN SECTION */
.main-sec, .patient-sec{
    padding: 40px 62px 0;
}
.assessibles{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    color: white;
    font-size: 22px;
   
}
.appointments{
    background-color: rgba(191, 83, 210, 0.66);  
}
.patients{
    background-color: rgba(69, 93, 227, 0.66);
}
.staffs{
    background-color: rgba(50, 190, 48, 0.76);
}
.request{
    width: 200px;
    height: 139px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
}
.appointments, .patients, .staffs{
    width: 305px;
    height: 139px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appointments div, .patients div, .staffs div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.assessibles button{
    width: 67px;
    height: 70px;
    border-radius: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
progress {
    border-radius: 15px; 
    width: 140px;
    height: 8px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
    background-color: rgba(128, 128, 128, 0.198);
    border-radius: 15px;
}
progress::-webkit-progress-value {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.1);
}

/* ACTIVITIES */
.activities{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
/* Patient list */
.denzel, .stacy, .amy, .demi, .kelly, .steven, .kris{
    display: flex;
    gap: 20px;
}
.patient_names{
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pending_appointment .patient_names div p:nth-child(1){
    font-weight: 700;
}
.patient_names div p:nth-child(2){
    display: flex;
    align-items: center;
    gap: 7px;
    color: #808080;
}
.pending_appointment .patient_names div p:nth-child(2){
    font-weight: 700;
}
.patient_names div p:nth-child(2) button{
    padding: 4px;
    border-radius: 100%;
    border: 0;
    background-color: #25cb0b;
}
.denzel div p:nth-child(2), .stacy div p:nth-child(2){
    color: #f62088;
    font-size: 11px;
}
.amy div p:nth-child(2){
    font-size: 11px;
    color: hsla(240, 100%, 50%, 0.60);
}
.demi div p:nth-child(2){
    font-size: 11px;
    color: #128983;
}
.denzel div p:nth-child(1), .stacy div p:nth-child(1), .amy div p:nth-child(1), .demi div p:nth-child(1) {
    font-size: 16px;
}
.denzel button:nth-child(1), .stacy button:nth-child(1), .amy button:nth-child(1), .demi button:nth-child(1), .k_btn{
    width: 44px;
    height: 42px;
    border-radius: 100%;
    border: 1px solid;
    font-size: 16px;
}
.denzel button:nth-child(1), .stacy button:nth-child(1), .kelly .k_btn {
    color: #f62088;
    background-color: hsla(331, 92%, 55%, 0.15);
}
.amy button:nth-child(1), .steven .k_btn{
    color: hsla(240, 100%, 50%, 0.60);
    background-color: hsla(240, 100%, 50%, 0.15);
}
.demi button:nth-child(1), .kris .k_btn{
     color: #128983;
     background-color: hsla(177, 77%, 30%, 0.15);
}
.denzel_button, .amy_button, .demi_button{
    border-radius: 10px;
    font-size: 11px;
    border: 0;
    width: 60px;
    height: 30px;
}
.denzel_button{
    color: #f62088;
    background-color: hsla(331, 92%, 55%, 0.15);
}
.amy_button{
    color: hsla(240, 100%, 50%, 0.60);
    background-color: hsla(240, 100%, 50%, 0.15);
}
.demi_button{
    color: #128983;
    background-color: hsla(177, 77%, 30%, 0.15);
}

.patient_list, .pending_appointment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doctors, .patient_list, .pending_appointment{
    width: 420px;
    padding: 24px 28px 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.194);
}
.pending_appointment{
    width: 380px;
}
.confirmation{
    display:flex;
    align-items: center;
    gap: 10px;
}
.confirmation button{
    border: 0;
    border-radius: 8px;
    padding: 5px;
}
.confirmation button:nth-child(1){
    background-color: #00ff00;
}
.confirmation button:nth-child(2){
    background-color: hsla(0, 100%, 69%, 0.24);
}
.green_btn, .red_btn{
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    height: 35px;
}
.green_btn{
    color: #0baf0b;
    background-color: hsla(120, 100%, 50%, 0.24);
}


.doctors h2, .patient_list h2, .pending_appointment h2{
    color: #4b4b4b;
    font-size: 22px;
    margin-bottom: 10px;
}
.doctors hr, .pending_appointment hr{
    border: 0.1px solid rgba(128, 128, 128, 0.217);
}
.doctors a{
    display: flex;
    justify-content: flex-end;
    color: black;
    margin-top: 5px;
}
.cherry, .marcus, .murphy, .jerry, .mary{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
}
.cherry button, .marcus button, .murphy button, .jerry button, .mary button{
    padding: 5px;
    border-radius: 100%;
    border: 0;
}
.marcus button, .murphy button{
    background-color: red;
}
.jerry button, .mary button, .cherry button{
    background-color: greenyellow;
}
.cherry div p:nth-child(2), .marcus div p:nth-child(2), .murphy div p:nth-child(2), .jerry div p:nth-child(2), .mary div p:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
    color: #808080;
    font-weight: 700;
}
.cherry div, .marcus div, .murphy div, .jerry div, .mary div{
    display: flex;
    gap: 15px;
    
}
.cherry div p:nth-child(1), .marcus div p:nth-child(1), .murphy div p:nth-child(1), .jerry div p:nth-child(1), .mary div p:nth-child(1){
    font-weight: 400;
}




/************************************ PATIENTS PAGE ***********************************/
.patient-sec{
    display: flex;
    padding: 60px 100px;
    gap: 20px;
}

.patient_sec_list{
    width: 389px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    padding: 20px;
}
.right-patient-sec{
    width: 714px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
}

/************************* MESSAGE PAGE ***********************/
.message-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}
.left-mess-sec{
    max-width: 335px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 35px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.right-mess-sec{
    width: 714px;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #e5e5e5;
}
.right-mess-sec button{
    border: 0;
    border-radius: 100%;
    padding: 50px;
}
.right-mess-sec h1{
    font-size: 40px;
    color: gray;
}
.edit_message{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit_message h2{
    font-size: 25px;
}
.edit_message button{
    border: 0;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.form{
    display: flex;
    gap: 7px;
    background-color: hsla(0, 0%, 91%, 0.70);
    padding: 14px 20px;
    border-radius: 10px;
}
.form input{
    border: 0;
    background-color: transparent;
    width: 80%;
}
.form input::placeholder{
    color: #b2b2b2;
    font-size: 18px;
}
#pinned{
    display: flex;
    align-items: center;
    color: #979797;
}
.support{
    display: flex;
    align-items: center;
    gap: 10px;
}
#support_btn{
    border: 0;
    background-color: rgba(255, 0, 0, 0.71);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
#all_messages{
    display: flex;
    gap: 10px;
}

.message{
    display: flex;
    gap: 10px;
}
.message div p:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.admin p:nth-child(2){
    color: #a9a7a7;
    font-size: 12px;
}
.message div p:nth-child(2) button, .support div p:nth-child(2) button{
    border: 0;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: red;
    color: white;
}
.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin p:nth-child(1), .admin p:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 220px;
}
.admin p:nth-child(1){
    font-weight: 700;
}
.admin p:nth-child(1) span{
    font-weight: 400;
    color: #a9a7a7;
    font-size: 12px;
}